html,
body {
  padding: 0;
  margin: 0;
  background:#888;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* accesorits */
 .samefourgrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
 }.rangebar{
   background: white ;
   height: 8px;
   border-radius: 30px;
   
   display: block;
   margin: 0 auto;
   width: 90%;
   display: flex;
   align-items: center;
}
 .bar{
   padding: 1px;
   background:rgb(41, 107, 228);
 }
.section{
  width: 100%;
  border-radius: 30px;
  padding: 30px;
  background: #444;
  color: white;
  margin-bottom: 20px;
}
.heading{
  width: 70%;
  background: tomato;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  padding: 10px;
}
.gridthree{
   display: grid;
   grid-template-columns:30% 10% 60% ;
}
/* templates */
.template{
  display: block;
  margin: 0 auto;
  width: 80%;
}
/* SECTIONS */
.sectionone{
   display: flex;
}
.buttomsection{
  display: grid;
  grid-template-columns: 30% 70%;
  
} 
/* TOPSECTION */
.topsection{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.photo{
  margin-left: 70px;
  width: 230px;
  border: 5px solid tomato;
  border-radius: 30px;
}
/* BASIC DETAILS */
 .sametwogrid{
   display: grid;
   grid-template-columns: 50% 50%;
   background: black;
   border-radius: 30px;
   padding: 30px;
   color: #aaa;
   margin-bottom: 20px;
 }

.name{
  font-size: 3em;
  text-transform: uppercase;
}
/* CONTACT */
.contactlabel{
  display: grid;
  grid-template-columns: 20% 10% 70%;

}
/* COMPONENTS */

.skills{
   background: black;
   color: white;
   border-radius: 30px;
   width: 350px;
   line-height: 60px;
   padding: 30px;
}
  /* .basicdetails{

} */
/* language */

.languagebar{
  padding: 15px;
  background: black;
  margin: 10px;
  text-align: center;
  border-radius: 30px;
  color: rgb(156, 156, 156);
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    align-items: center;
}
/* address */
.address{
  width: 100%;
  border-radius: 30px;
  padding: 30px;
  background: #444;
  color: white;
}
.typeaddress{ 
  background: black;
  color: white;
   display: grid;
   grid-template-columns: 30% 5% 65%;
   border-radius: 20px;
   padding: 30px;
   margin: 10px;
}
/* PROJECTS */
 .projectdetails{
   background: black;
   padding: 15px;
   margin: 10px;
   border-radius:20px ;
} 
.projectdetails b{
  padding: 10px;
  font-size: 1.2 em;
}
.projectdetails p{
  padding: 10px;
  color: #aaa;
}