.herocontainer{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background:url('/heropic.svg');
  background-size: cover;

}
/* .herocontainer h1:hover{
  transform: scale(1.3);
  transition:.6s;
  transition: cubic-bezier(1, 0, 0, 1);
} */

.herocontainer h1{
   font-size: 4em;
   text-transform: capitalize ;
   color:tomato;
}
.footer{
  width: 100%;
  height: 300px;
  background: rgb(110, 27, 131);
}